body {
	margin: 0;
}

.wrap {
	width: 800px;
	height: 1000px;
	margin: auto;
	position: relative;
	background: #e3e3e3;
	top: 50px;

}

.box {
	width: 70px;
	height: 70px;
	margin: auto;
	background: red;
	position: absolute;
	left: -35px; top: 30;
	
	
}